body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

/*login*/

.area-login{
    display: flex;
    height: 100vh; /*ocupa todo o navegador*/
    justify-content: center;
    align-items: center;
}

.Cadasrto{
   display: flex;
   flex-direction: column;
   align-items: center;
    background-color:   #040B29;
    width: 355px;
    height: 320px;
    padding: 35px;
    border-radius: 10px;
    
}

.Cadastro form{
    display: flex;
    flex-direction: column;
    width: 100%

}

.Cadastro input{
    margin-top: 10px;
    background-color:#B3BFF5 ;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    color: black;
    padding-left: 10px;
    
    
}

.Cadastrotitle{
    margin-top: 32px;
    color: #B3BFF5;
    text-align: center;
    font-size: 35px;
    
}



.input::placeholder{
    color:#495DB7;
    font-size: 14px;
    
} 

.log [type="submit"]{   /*botão login*/
    display: block;
    background-color: #0C1F75;
    font-size: 20px;
    color: #B3BFF5;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 43px;
    
    
}

 

.cad{              /*Já passui conta, entrar*/
    color:aliceblue; 
    font-size: 10px;
    margin-left: 100px;
}



a{
    color: #495DB7;
    text-decoration: none;      /*tirar o sublinhado*/
    margin-left: 10px
}





 



