*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
    scroll-behavior: smooth ;
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section{
    min-height: 100vh;

}
.white-bg{
    background-color: white;
    color: black;
    
}

.menu{
    background-color: white;
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    padding: 1px;
    border-bottom: 1px solid #eee;
    z-index: 1;
    
}
.menu-content{
    display: flex;
    justify-content: space-between;
    padding-top: 0%;
    padding-bottom: 0%;

}
.menu ul {
    list-style: none;
    display: flex;
    
}

a{
    text-decoration: none;
}
h1 a{
    color: #020133;
}
.menu ul li a{
    display: block;
    padding: 1.3rem;
    color: #020133;
    position: relative;
    
}
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 20%;
    width: 0;
    height: 0.2rem;
    background-color:#020133 ;
    transition: all 300ms ease-in-out;

}
.menu ul li a:hover:after{
    width: 65%;
    left: 20%;
}
.espaco-menu{
    
   height: 100px;
  
   
    
}
.intro-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    position: relative;
}
.intro-text-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 4.5rem;
    margin-bottom: 3rem;
    line-height: 1.1;
}

.work2{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

.work{
    font-size: 8rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.top3{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
    
}
.top3 h1{
    font-size: 5rem;
    font-style: italic;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-bottom: 6rem;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    counter-reset: grid-counter;
    margin-top: 10%;
    padding-left: 2%;
}

footer {
    height: 172px;
    background: linear-gradient(to bottom, #495DB7, #040B29
    );
    padding: 10px;
}

footer {
    height: 100px;
}

.Busca:hover{
    border: solid 5px #B3BFF5;
    transition: 1s;
    width: 550px;
    height: 25px;
}

.Busca {
    width: 500px;
    border: solid 3px;
}

#logo {
    width: 100px;
}

.botao-pesquisa {
    color: #040B29;
    background-color: #B3BFF5;
    border-radius: 4px;
    width: 100px;
    width: 550;
}

#qms_botao:hover {
    color: #ffffff;
    background-color: #B3BFF5;
    border-radius: 3px;
    transition: 2s;
}
 #qms_botao {
    border-radius: 50px;
 }
 
 .logado{
  color:#495DB7;
  padding-top: 20px;      
}

 .footer_{
    margin-bottom: 50px;
    padding-bottom: 50px;
    width: 100%;
 }

 #contato{
    color: white;
 }

 
 .letras nav ul li a{
    list-style: none;
    color: white;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 600;
    padding-inline-start: 25%;
    background-image: url(C:\imagens\backmatematica.jpg);
 }
 
 .caixas{
    width: 450px;
    height: 52px;
    margin-left:10%;
    margin-bottom: 3%;
    border-radius: 20px;
    
 }
 .ilustracaojogos{
    
  border-radius: 20px;
  background: gray;
  padding: 0px;
  width: 500px;
  height: 50px;
 }

 .caixadejogo{
    background-color: aqua;
    width: 200px;
    display: inline-block;
    height: 120px;
    align-items: center;
    text-transform: uppercase;
    
 }
