*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
    scroll-behavior: smooth ;
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section{
    min-height: 100vh;

}


.menu{
   background-repeat: no-repeat;
    background-position: 1380px;
    background-position-y: 20px;
    background-size: 100px;
   top: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    padding: 1px;
    border-bottom: 1px solid #eee;
    z-index: 1;
    
}
.menu-content{
    display: flex;
    justify-content: space-between;
    padding-top: 0%;
    padding-bottom: 0%;
    

}

a{
    text-decoration: none;
}
h1 a{
    color: #020133;
}
.espaco-menu{
    
   height: 100px;
  
   
    
}
.intro-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    position: relative;
}
.intro-text-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 4.5rem;
    margin-bottom: 3rem;
    line-height: 1.1;
}



.top3{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
    
}
.top3 h1{
    font-size: 5rem;
    font-style: italic;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-bottom: 6rem;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    counter-reset: grid-counter;
    margin-top: 10%;
    padding-left: 2%;
}

footer {
    height: 172px;
    background: linear-gradient(to bottom, #495DB7, #040B29
    );
    padding: 10px;
}

footer {
    height: 100px;
}


.barra-pesquisa:hover{
    border: solid 5px #0C1F75;
    transition: 1s;
    width: 350px;
    height: 45px;
    border-radius: 6px;
}
.barra-pesquisa{
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 250px;
    background-position-y:-3px;
    border: solid 2px #0C1F75;
    transition: 1s;
    width: 350px;
    height: 45px;
    border-radius: 6px;
}

.logo {
    width:100px;

}

.botao-pesquisa {
    color: #ffffff;
    background-color: #0C1F75;
    border-radius: 6px;
    width: 140px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 43px;
    
}

#qms_botao:hover {
    color: #ffffff;
    background-color: #B3BFF5;
    border-radius: 3px;
    transition: 2s;
}
 #qms_botao {
    border-radius: 50px;
 }
 
 .logado{
  color:#495DB7;
  padding-top: 20px;
  height: 70px;
  width: 200px;
  padding-left: 60px;
 }


 .footer_{
    margin-bottom: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 400px;
 }

 #contato{
    color: white;
 }

 
 .letras nav ul a{
    list-style: none;
    color: rgb(250, 250, 250);
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 600;
    padding-inline-start: 25%;
   
 }
 
 .caixas{
    list-style: none;
    width: 450px;
    height: 52px;
    margin-left:10%;
    margin-bottom: 3%;
    border-radius: 20px;
    
 }
 .ilustracaojogos{
    
  border-radius: 20px;
  background: #495DB7;
  padding: 0px;
  width: 500px;
  height: 50px;
 }

 .caixadejogo{
    background-color: #ebdcdc;
    width: 200px;
    display: inline-block;
    height: 120px;
    align-items: center;
    text-transform: uppercase;
    
 }
 #imagem1{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
    #img2{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    }
    #img3{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    }
    #img4{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    }
    #img5{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    }
    #img6{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    }
    