body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    

    .area-login{
        display: flex;
        height: 100vh; /*ocupa todo o navegador*/
        justify-content: center;
        align-items: center;
        margin-bottom: 600px;

    }
    
    .login{
       display: flex;
       flex-direction: column;
       align-items: center;
        background-color:  #040B29;
        width: 250px;
        height: 260px;
        padding: 35px;
        border-radius: 10px;
        margin: auto;
        margin-top: 150px;
        
        
    }
    

    
   
   
    
    #botao{                            /*botão */
        display: block;
        background-color: #0C1F75;
        font-size: 20px;
        color: #B3BFF5;
        height: 25px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
        width: 150px;
    }

    .circle-image{
            display: block;
            border-radius: 50%;
            overflow: hidden;
            width: 250px;
            height: 250px;
            margin: auto;
          }
          .circle-image img {
            width: 100%;
            height: 100%;
            object-fit:cover;
          }
    
    
    
    #botaologout{                            /*botão logout e página inicial */
        display: block;
        background-color: #0C1F75;
        font-size: 20px;
        color: #B3BFF5;
        width: 210px;
        height: 50px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 20px;
      
    }
    
    #nome {
        margin-top: 25px;
        background-color: #B3BFF5;
        text-align: center;
        border-radius: 5px;
        width: 300px;
        height: 25px;
    }

    #senha{
        margin-top: 25px;
        background-color: #B3BFF5;
        text-align: center;
        border-radius: 5px;
        width: 300px;
        height: 25px;
    }

    #botao_salvar{
        display: block;
        background-color: #0C1F75;
        font-size: 20px;
        color: #B3BFF5;
        height: 50px;
        width: 70px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        margin: auto;
        margin-top: 80px;
        width: 150px;
    }

   