*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
    scroll-behavior: smooth;
}


.section{
    min-height: 100vh;

}

/* Barra de navegação */
.main-bg{
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
    }

.menu-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 0%;
    padding-bottom: 0%;
}

.menu{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.1rem;
    border-bottom: 5px solid #0C1F75;
    z-index: 1;
}

.menu ul {
    list-style: none;
    display: flex; 
}

a{
    text-decoration: none;
}

h1 a{
    color: #020133;
}

.menu ul li a{
    display: block;
    padding: 1.3rem;
    color: #020133;
    position: relative; 
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 20%;
    width: 0;
    height: 0.2rem;
    background-color:#020133 ;
    transition: all 300ms ease-in-out;

}
.menu ul li a:hover:after{
    width: 65%;
    left: 20%;
}

h1{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Busca:hover{
    border: solid 5px #B3BFF5;
    width: 500px;
    height: 25px;
}

.Busca {
    width: 395px;
    border: solid 3px;
    height: 25px;
    }

#logo {
    width: 100px;
}

#qms_botao:hover {
    color: #ffffff;
    background-color: #B3BFF5;
    border-radius: 3px;
    transition: 2s;
}

 #qms_botao {
    border-radius: 50px;
 }

 #login_botao:hover{
    color: #ffffff;
    background-color: #B3BFF5;
    border-radius: 3px;
    transition: 2s;
 }
 
 #login_botao {
    border-radius: 50px;
 }

 .imagemha{
    width: 60px;
    margin-top: 10px;
    border-radius: 100%;
    
 }

/* botões */
.botao{
    background-color: #0C1F75;
    font-size: 15px;
    color: #B3BFF5;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    height: 25px;
    
}

/*rodapé */


footer {
    position: absolute;
    height: 240px;
    background: linear-gradient(to bottom, #B3BFF5, #495DB7);
   
}

.footer_{
    margin-bottom: 50px;
    padding-bottom: 50px;
    width: 100%;
 }

 
 #contato{
    color: #ffffff;
 }

 .col{
    text-align: center;
 }

 .contato{
    padding-left: 10px;
 }