/*novo css*/
.main-bg{
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.menu-pagina{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #495DB7;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
#nome{
    color: white;
}
.section{
    height: 100vh;
}

nav .logo{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
.menu-pagina a:hover{
    background: #0C1F75;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #B3BFF5;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #0C1F75;
    }   
}
footer {
    min-width: 320px;
    max-width: 100%;
    margin: auto;
    background: linear-gradient(to bottom, #B3BFF5, #495DB7);
   
    }


.footer_{ 
    padding-bottom: 10px;
 }

 
 #contato{
    color: #ffffff;
 }

 .col{
    text-align: center;
 }

 .contato{
    padding-left: 10px;
 }
 .caixas{
    padding-bottom: 80px;
}
 #imagem1{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 400px;

  }
  #imagem1:hover{
    transform: scale(1.2); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    transition: 0.5s;

  }
    #img2{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 400px;
    }
    #img2:hover{
        transform: scale(1.2); 
        box-shadow: 0 5px 15px rgba(0,0,0,0.6);
        transition: 0.5s;

      }
    #img3{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 400px;

    }
    #img3:hover{
        transform: scale(1.2); 
        box-shadow: 0 5px 15px rgba(0,0,0,0.6);
        transition: 0.5s;

      }
    #img4{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 400px;

    }
    #img4:hover{
        transform: scale(1.2); 
        box-shadow: 0 5px 15px rgba(0,0,0,0.6);
        transition: 0.5s;

      }
    #img5{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 400px;

    }
    #img5:hover{
        transform: scale(1.2); 
        box-shadow: 0 5px 15px rgba(0,0,0,0.6);
        transition: 0.5s;

      }
    #img6{
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 100%;

  }
  #img6:hover{
    transform: scale(1.2); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    transition: 0.5s;

  }
